# 👉 Dependencies
node_modules/

# 👉 Build output
dist/
dist-ssr/
out/
build/

# 👉 Environment files
*.local
.env
.env.*.local

# 👉 System files
.DS_Store
Thumbs.db

# 👉 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 👉 Editor & IDE settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# 👉 Test & coverage
coverage/
*.lcov

# 👉 Other
*.log
.cache/
.cache
.eslintcache
